<div class='home'>
	<% if home.sold == true %>
		<h1><%= home.title %> - SOLD</h1>
	<% else %>
		<h1><%= link_to home.title, user_home_path(User.find(home.user_id), home) %></h1>
	<% end %>
	<div><%= home.description %></div>
	<div>
		Square Feet: <%= home.sq_ft %>
		<br>
		Floors: <%= home.floors %>
		<br>
		Price: $<%= home.price %>
		<br>
	</div>
	<% if home.address.nil? %>
		<div><h3>Address is missing for this home :/</h3></div>
	<% else %>
		<h3>Address</h3>
		<%= link_to address_path(home.address) do %>
			<div>
				<%= home.address.street %>
				<br>
				<% unless home.address.street2.empty? %>
					<%= home.address.street2 %>
					<br>
				<% end %>
				<%= home.address.city %>, <%=home.address.state %> <%= home.address.zip %>
			</div>
		<% end %>
	<% end %>
</div>
