<!DOCTYPE html>
<html>
<head>
  <title>RealEstate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1 class='logo'>Really Real Real Estate</h1>
		<%= link_to 'See all Sellers', sellers_path %>
		<%= link_to 'Create new Seller', new_seller_path %>
		<%= link_to 'Search for Homes', homes_search_path %>
	</header>
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>

</body>
</html>
